<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<footer th:fragment="app-footer" class="custom-footer py-4">
    <div class="container d-flex justify-content-between flex-wrap">
        <div>
            <h5>About</h5>
            <p>
                <a href="#" class="footer-link">About Us</a>: All in one Mart
            </p>
            <p>
                <a href="#" class="footer-link">Contact Us</a> +91-7070591143
            </p>
        </div>
        <div>
            <h5>RS Mart</h5>
            <p>Rehla, Jharkhand</p>
            <p>Mail: support@rsmart.com</p>
        </div>
    </div>
</footer>

</body>
</html>


